# Server Configuration
PORT=8080
CORS_ALLOWED_ORIGINS=http://localhost:3000

# Database Configuration (PostgreSQL)
DB_URL=jdbc:postgresql://localhost:5432/mobistock
DB_USERNAME=postgres
DB_PASSWORD=your_password

# JWT 
JWT_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsImtpZCI6ImZkNTQyZmEwMGMxNjk3NzFmODYzZjhjZGFkMGI1NzBhIn0.e30.D35Ztet_7XtoUSXrTJu8STeO41pirXF6xXEAa_XutlnLjXzS_iA3QsXUyCQWaY82C7q-5KN_bYnN28HeW9Zhdg
JWT_EXPIRATION_MS=28800000
